.new-diary__wrapper
  - unless diary.user.id == current_user.id
    = icon("far", "star")
    - if current_user.already_liked?(diary)
      = link_to diary_like_path(diary,diary.id), method: :delete, remote: true, class: "favorite-btn__a" do
        = icon("fas", "star")
    - else
      = link_to diary_likes_path(diary.id), method: :post, remote: true, class: "favorite-btn__b" do
        = icon("fas", "star")
  = link_to diary_path(diary.id), class: "dairy_path" do
    .new-diary
      .new-diary__title
        = diary.title
        .new-diary__contributor
          .contributor
            投稿者:
            = diary.user.nickname
          .datetime
            投稿日:
            = diary.datetime.year
            年
            = diary.datetime.month
            月
            = diary.datetime.day
            日
      .new-diary__content
        = diary.content
      