.diaries-edit__wrapper 
  .edit-main
    .edit-main__left
      .top
        .posts-title
          MyDiary
        .posts-box
          = render partial: 'mydiary', collection: @mydiaries, as: :mydiary
          .empty-box
      .bottom
        .favorites-title
          FavoriteDiary
        .favorites-box
          - @favoritediaries.each do |favoritediary|
            .favorite-box
              .favorite-title
                = favoritediary.diary.title
              .favorite-content
                = favoritediary.diary.content
              .favorite-bottom
                .favorite-user
                  = favoritediary.diary.user.nickname
                .favorite-datetime
                  = favoritediary.diary.created_at.strftime('%Y/%m/%d')
          .empty-box
      .form-contents__wrapper
        = form_with model:@user, local: true , class: "form-b" do |f|
          .form-title
            アカウント編集
          %button{class:"edit-btn", id:"edit-btn", type:"button"}
            ❌
          .form-contents
            .field
              .block
                nickname
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
            .field
              .block
                email
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .action
              = f.submit "登録", class: "edit-btn"   
    .edit-main__right
      .following-users__contents
        .content-title
          フォロー
        .following-users
          -# render @usersを使って
          .following-user
            .following-image
            .following-nickname 
              麻生太郎ああ
            .on__new-diary
              -# もし新しい日記があれば
              new diary！
          .following-user 
            .following-image
            .following-nickname 
              板垣退助
            .on__new-diary
              -# もし新しい日記があれば
              new diary！
          
      .browdsing-history
        .browdsing-history__title
          %p 閲覧履歴
        -# render @diariesを使って or each 文
        .browdsing-history__diaries
          - @historydiaries2.each do |historydiary|
            .browdsing-history__diary
              .browdsing-history__diary-head
                .history-image
                .history-nickname 
                  = historydiary.user.nickname
                .history-datimes
                  = historydiary.created_at.strftime('%Y/%m/%d')
              .browdsing-history__diary-bottom
                タイトル： 
                = historydiary.title