- unless @top
  .gorilla-header
    .gorilla-header__title-logo
      .title-image
      = link_to root_path, class: "title-logo" do
        Gorilla diary.
    -if @edit
      .edit-button
        %button
          Eidt Account
    .gorilla-header__contents
      - if current_user
        = link_to edit_user_path(current_user.id), class: "header_btn-1" do
          = current_user.nickname
        = link_to new_diary_path, class: "header_btn" do
          %b 新規投稿
        = link_to  diaries_path, class: "header_btn" do
          %b 投稿一覧
        = link_to destroy_user_session_path, method: :delete, class: "header_btn" do
          %b ログアウト